@import "~android-xml-runtime/index.scss";
$calendar_range_middle_deactivated_bg: #ccccccff;
$calendar_range_middle_unavailable_bg: #ffff00ff;
$calendar_selected_day_bg: #ff0000ff;
$calendar_selected_range_bg: #ff0000ff;
$calendar_unavailable_bg: #ffff00ff;
$colorAccent: #f5952eff;
$colorAccentDark: #ae6a21ff;
$colorPrimary: #10769cff;
$colorPrimaryDark: #0e6484ff;
$colorPrimaryDarker: #0a465cff;
$disabled: #adadadff;
$colorPrimaryDarker: #0a465cff;
* {
--color-state_accent: $colorAccent;
--color-state_accent_toggle: $disabled;
--color-state_login_text: $colorPrimary;
--color-state_primary: $colorPrimary;
}
:checked ~ * {
--color-state_accent_toggle: $colorAccent;
}
:disabled ~ * {
--color-state_accent: $disabled;
--color-state_accent_toggle: $disabled;
--color-state_login_text: $disabled;
--color-state_primary: $disabled;
}
:active:hover ~ * {
}
:focus ~ * {
}
.drawable-border {
background-color: #ffffffff;
border-color: $disabled;
border-width: 1.0px;
border-style: solid;
border-top-left-radius: 3.0px;
border-top-right-radius: 3.0px;
border-bottom-right-radius: 3.0px;
border-bottom-left-radius: 3.0px;
&:active:hover {
background-color: $disabled;
border-color: $disabled;
border-width: 1.0px;
border-style: solid;
border-top-left-radius: 3.0px;
border-top-right-radius: 3.0px;
border-bottom-right-radius: 3.0px;
border-bottom-left-radius: 3.0px;
}
&:disabled {
background-color: $disabled;
border-color: $disabled;
border-width: 1.0px;
border-style: solid;
border-top-left-radius: 3.0px;
border-top-right-radius: 3.0px;
border-bottom-right-radius: 3.0px;
border-bottom-left-radius: 3.0px;
}
}
.drawable-button_accent {
background-color: $colorAccent;
border-top-left-radius: 3.0px;
border-top-right-radius: 3.0px;
border-bottom-right-radius: 3.0px;
border-bottom-left-radius: 3.0px;
&:active:hover {
background-color: $colorAccentDark;
border-top-left-radius: 3.0px;
border-top-right-radius: 3.0px;
border-bottom-right-radius: 3.0px;
border-bottom-left-radius: 3.0px;
}
&:disabled {
background-color: $disabled;
border-top-left-radius: 3.0px;
border-top-right-radius: 3.0px;
border-bottom-right-radius: 3.0px;
border-bottom-left-radius: 3.0px;
}
}
.drawable-button_disabled {
background-color: $disabled;
border-top-left-radius: 3.0px;
border-top-right-radius: 3.0px;
border-bottom-right-radius: 3.0px;
border-bottom-left-radius: 3.0px;
&:active:hover {
background-color: $disabled;
border-top-left-radius: 3.0px;
border-top-right-radius: 3.0px;
border-bottom-right-radius: 3.0px;
border-bottom-left-radius: 3.0px;
}
&:disabled {
background-color: $disabled;
border-top-left-radius: 3.0px;
border-top-right-radius: 3.0px;
border-bottom-right-radius: 3.0px;
border-bottom-left-radius: 3.0px;
}
}
.drawable-button_primary {
background-color: $colorPrimary;
border-top-left-radius: 3.0px;
border-top-right-radius: 3.0px;
border-bottom-right-radius: 3.0px;
border-bottom-left-radius: 3.0px;
&:active:hover {
background-color: $colorPrimaryDark;
border-top-left-radius: 3.0px;
border-top-right-radius: 3.0px;
border-bottom-right-radius: 3.0px;
border-bottom-left-radius: 3.0px;
}
&:disabled {
background-color: $disabled;
border-top-left-radius: 3.0px;
border-top-right-radius: 3.0px;
border-bottom-right-radius: 3.0px;
border-bottom-left-radius: 3.0px;
}
}
.drawable-ic_android_black_24dp {
background-image: url("drawables/ic_android_black_24dp.svg");
background-size: contain;
}
.drawable-ic_arrow_back_white_24dp {
background-image: url("drawables/ic_arrow_back_white_24dp.svg");
background-size: contain;
}
.drawable-ic_beach_access_black_24dp {
background-image: url("drawables/ic_beach_access_black_24dp.svg");
background-size: contain;
}
.drawable-ic_exposure_black_24dp {
background-image: url("drawables/ic_exposure_black_24dp.svg");
background-size: contain;
}
.drawable-ic_launcher_background {
background-image: url("drawables/ic_launcher_background.svg");
background-size: contain;
}
.drawable-ic_launcher_foreground {
background-image: url("drawables/ic_launcher_foreground.svg");
background-size: contain;
}
.drawable-ic_send_black_24dp {
background-image: url("drawables/ic_send_black_24dp.svg");
background-size: contain;
}
.drawable-plain_border {
border-color: $disabled;
border-width: 1.0px;
border-style: solid;
border-top-left-radius: 3.0px;
border-top-right-radius: 3.0px;
border-bottom-right-radius: 3.0px;
border-bottom-left-radius: 3.0px;
&:active:hover {
border-color: $disabled;
border-width: 1.0px;
border-style: solid;
border-top-left-radius: 3.0px;
border-top-right-radius: 3.0px;
border-bottom-right-radius: 3.0px;
border-bottom-left-radius: 3.0px;
}
&:disabled {
border-color: $disabled;
border-width: 1.0px;
border-style: solid;
border-top-left-radius: 3.0px;
border-top-right-radius: 3.0px;
border-bottom-right-radius: 3.0px;
border-bottom-left-radius: 3.0px;
}
}
.drawable-test_drawable {
background-image: url("drawables/test_drawable.svg");
background-size: contain;
}
.style-AppBarTitle {
color: #ffffffff;
font-size: 18.0pt;
padding: 4.0px;
@extend .bold-text;
}
.style-AppTheme {
}
.style-Body {
color: #222222ff;
font-size: 16.0pt;
}
.style-ButtonAccent {
@extend .drawable-button_accent;
font-size: 16.0pt;
color: #ffffffff;
padding: 8.0px;
}
.style-ButtonPrimary {
@extend .drawable-button_primary;
font-size: 16.0pt;
text-transform: uppercase;
color: #ffffffff;
padding: 8.0px;
}
.style-ButtonPrimaryDarkText {
color: #0a465cff;
}
.style-DarkAppTheme {
}
.style-Header {
color: #000000ff;
font-size: 24.0pt;
@extend .bold-text;
}
.style-SpinnerStyle {
color: #10769cff;
}
.style-Theme.PainfullyVanilla {
}
