* {
  box-sizing: border-box;
  font-family: "Roboto", "Open Sans", sans-serif;
  overflow-x: hidden;
  overflow-y: hidden;
  overflow-wrap: anywhere;
  flex-shrink: 0;
  max-width: 100%;
  max-height: 100%;
  --drawable-width: 24px;
  --drawable-height: 24px;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-size: 14pt;
}

.app {
  height: 100% !important;
  width: 100% !important;
  position: absolute;
}

.center-text-vertical {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.compoundDrawable {
  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: var(--drawable-width);
    height: var(--drawable-height);
    align-items: center;
    justify-content: center;
  }
}

.imageDrawable {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.asImage {
  width: var(--drawable-width);
  height: var(--drawable-height);
}

button {
  border: none;
  min-height: 42px;
  text-transform: uppercase;
  background-image: none;
  background-color: transparent;
  text-align: center;

  &.android-ImageButton {
    min-height: unset;
    padding: 0;
  }
}

textarea {
  resize: none;
  border: none;
}

input {
  border: none;
}

.android-ToggleButton {
  border: none;
  min-height: 42px;
  text-transform: uppercase;
  background-image: none;
  background-color: transparent;
  text-align: center;
}

button input {
  background-image: none;
  background-color: transparent;
  border: none;
  color: unset;
  font: unset;
}

.drawable-attr-selectableItemBackground {
  background-image: none;
  background-color: transparent;

  &:hover {
    background: #80808030;
  }
}

.android-ScrollView {
  overflow-y: auto;

  &>* {
    max-height: unset;
  }
}

.android-HorizontalScrollView {
  overflow-x: auto;

  &>* {
    max-width: unset;
  }
}

.android-LinearLayout {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;

  &.dynamic {
    align-items: stretch;
  }

  &>* {
    flex-shrink: 1;
  }
}

.android-RecyclerView {
  overflow-y: auto;

  &>* {
    max-height: unset;
  }
}

.bold-text {
  font-weight: bold;
}

.italic-text {
  font-style: italic;
}

.android-FrameLayout {
  display: grid;
  grid-template-columns: auto;
  z-index: 0;
}

.android-FrameLayout>* {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 1;
}

$primary: #888 !default;

.android-ViewFlipper {
  @extend .android-FrameLayout;

  &>* {
    transition: opacity 0.5s;
  }

  &::after {
    pointer-events: none;
    content: "";
    transition: opacity 0.5s;
    opacity: 0;
    width: 32px;
    height: 32px;
    border-style: solid;
    border-color: $primary $primary $primary transparent;
    border-width: 5px;
    border-radius: 50%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    align-self: center;
    justify-self: center;
    animation: spin 2s infinite linear;
  }

  &.loading {
    &>* {
      opacity: 0;
    }
    &::after {
      opacity: 1;
    }
  }
}

.android-Switch {

  /* The switch - the box around the slider */
  .back {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 16px;
  }

  /* Hide default HTML checkbox */
  input {
    opacity: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 17px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }

  input:checked+.back .slider {
    background-color: #2196F3;
  }

  input:focus+.back .slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked+.back .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px);
  }
}

.android-RatingBar {
  --dir: right;
  --fill: gold;
  --fillbg: rgba(100, 100, 100, 0.15);
  --star: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><path d="M12 17.25l-6.188 3.75 1.641-7.031-5.438-4.734 7.172-0.609 2.813-6.609 2.813 6.609 7.172 0.609-5.438 4.734 1.641 7.031z"/></svg>');
  --stars: 5;
  --starsize: 3rem;
  --symbol: var(--star);
  --value: 1;
  --w: calc(var(--stars) * var(--starsize));
  --x: calc(100% * (var(--value) / var(--stars)));
  block-size: var(--starsize);
  inline-size: var(--w);
  position: relative;
  touch-action: manipulation;
  -webkit-appearance: none;

  [dir="rtl"] & {
    --dir: left;
  }

  &::-moz-range-track {
    background: var(--fillbg);
    //background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
  }

  &::-moz-range-progress {
    background: var(--fill);
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--star);
  }

  &::-webkit-slider-runnable-track {
    background: var(--fillbg);
    //background: linear-gradient(to var(--dir), var(--fill) 0 var(--x), var(--fillbg) 0 var(--x));
    block-size: 100%;
    mask: repeat left center/var(--starsize) var(--symbol);
    -webkit-mask: repeat left center/var(--starsize) var(--symbol);
  }

  &::-moz-range-thumb {
    height: var(--starsize);
    opacity: 0;
    width: var(--starsize);
  }

  &::-webkit-slider-thumb {
    background-color: var(--fill);
    box-shadow: calc(0rem - var(--w)) 0 0 var(--w) var(--fill);
    opacity: 1;
    width: 1px;
    height: var(--starsize);
    -webkit-appearance: none;

    [dir="rtl"] & {
      box-shadow: var(--w) 0 0 var(--w) var(--fill);
    }
  }
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb:vertical {
  margin: 5px;
  background-color: #999;
  -webkit-border-radius: 5px;
}

::-webkit-scrollbar-thumb:horizontal {
  margin: 5px;
  background-color: #999;
  -webkit-border-radius: 5px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment {
  height: 5px;
  display: block;
}

::-webkit-scrollbar-thumb {
  visibility: hidden;
}

:hover::-webkit-scrollbar-thumb {
  visibility: visible;
}

.android-ViewPager {
  position: relative;
}

.pager-prev {
  position: absolute;
  left: 4px;
  bottom: 4px;
  padding: 4px;
  background: #CCCCCC;
  color: black;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  font-size: 24px;

  &:hover {
    background: #DDDDDD;

    &:active {
      background: #AAAAAA;
    }
  }
}

.pager-next {
  position: absolute;
  right: 4px;
  bottom: 4px;
  padding: 4px;
  background: #CCCCCC;
  color: black;
  border-radius: 4px;
  width: 32px;
  height: 32px;
  font-size: 24px;

  &:hover {
    background: #DDDDDD;

    &:active {
      background: #AAAAAA;
    }
  }
}

.pager-content {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.pager-content>* {
  width: 100%;
  height: 100%;
  position: absolute;
}

.android-ImageView {
  object-fit: contain;
}

.android-SwipeRefreshLayout {
  @extend .android-FrameLayout;
  &>* {
    transition: opacity 0.5s;
  }

  .android-RefreshButton::after {
    pointer-events: none;
    content: "";
    transition: opacity 0.5s;
    opacity: 0;
    width: 32px;
    height: 32px;
    border-style: solid;
    border-color: $primary $primary $primary transparent;
    border-width: 5px;
    border-radius: 50%;
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
    align-self: center;
    justify-self: center;
    animation: spin 2s infinite linear;
  }

  &.loading {
    .android-RefreshButton::after {
      opacity: 1;
    }
  }
}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}