<?xml version="1.0" encoding="UTF-8"?><div>
  <div class="android-ScrollView">
    <div class="android-LinearLayout" style="flex-direction: column;padding: 8.0px">
      <div class="android-FrameLayout" style="height: 200.0px">
        <div class="android-TextView" style="background-color: #ff8080ff;margin: 8.0px;padding: 16.0px;justify-self: start;align-self: start">left|top</div>
        <div class="android-TextView" style="background-color: #ff8080ff;margin: 8.0px;padding: 16.0px;justify-self: start;align-self: end">left|bottom</div>
        <div class="android-TextView" style="background-color: #ff8080ff;margin: 8.0px;padding: 16.0px;justify-self: start;align-self: center">left|cv</div>
        <div class="android-TextView" style="background-color: #ff8080ff;margin: 8.0px;padding: 16.0px;justify-self: center;align-self: start">ch|top</div>
        <div class="android-TextView" style="background-color: #ff8080ff;margin: 8.0px;padding: 16.0px;justify-self: center;align-self: end">ch|bottom</div>
        <div class="android-TextView" style="background-color: #ff8080ff;margin: 8.0px;padding: 16.0px;justify-self: center;align-self: center">ch|cv</div>
        <div class="android-TextView" style="background-color: #ff8080ff;margin: 8.0px;padding: 16.0px;justify-self: end;align-self: start">right|top</div>
        <div class="android-TextView" style="background-color: #ff8080ff;margin: 8.0px;padding: 16.0px;justify-self: end;align-self: end">right|bottom</div>
        <div class="android-TextView" style="background-color: #ff8080ff;margin: 8.0px;padding: 16.0px;justify-self: end;align-self: center">right|cv</div>
      </div>
      <div class="android-FrameLayout" style="height: 200.0px">
        <div class="android-TextView" style="background-color: #ff8080ff;margin: 8.0px;padding: 16.0px;justify-self: stretch;align-self: start">top</div>
        <div class="android-TextView" style="background-color: #ff8080ff;margin: 8.0px;padding: 16.0px;justify-self: stretch;align-self: end">bottom</div>
        <div class="android-TextView" style="background-color: #ff8080ff;margin: 8.0px;padding: 16.0px;justify-self: stretch;align-self: center">cv</div>
      </div>
      <div class="android-FrameLayout" style="height: 200.0px">
        <div class="android-TextView" style="background-color: #ff8080ff;margin: 8.0px;padding: 16.0px;justify-self: start;align-self: stretch">left</div>
        <div class="android-TextView" style="background-color: #ff8080ff;margin: 8.0px;padding: 16.0px;justify-self: end;align-self: stretch">right</div>
        <div class="android-TextView" style="background-color: #ff8080ff;margin: 8.0px;padding: 16.0px;justify-self: center;align-self: stretch">ch</div>
      </div>
      <div class="android-FrameLayout" style="height: 200.0px">
        <div class="android-TextView" style="background-color: #ff8080ff;margin: 8.0px;padding: 16.0px;justify-self: stretch;align-self: stretch">fill</div>
      </div>
      <div class="android-LinearLayout" style="flex-direction: row;height: 200.0px">
        <div class="android-TextView" style="background-color: #ff8080ff;margin: 8.0px;padding: 16.0px">a</div>
        <div class="android-TextView" style="background-color: #ff8080ff;margin: 8.0px;padding: 16.0px">b</div>
        <div class="android-TextView" style="background-color: #ff8080ff;margin: 8.0px;padding: 16.0px">c</div>
        <div class="android-TextView" style="background-color: #ff8080ff;margin: 8.0px;padding: 16.0px">d</div>
      </div>
      <div class="android-LinearLayout" style="flex-direction: row;height: 200.0px;padding: 4.0px">
        <div class="android-TextView" style="background-color: var(--color-colorAccent);margin: 4.0px;padding: 8.0px">wrap</div>
        <div class="android-TextView" style="background-color: var(--color-colorAccent);margin: 4.0px;flex-grow: 1.0;flex-shrink: 1.0;flex-basis: 0;width: 0.0px;padding: 8.0px">1x</div>
        <div class="android-TextView" style="background-color: var(--color-colorAccent);margin: 4.0px;flex-grow: 2.0;flex-shrink: 2.0;flex-basis: 0;width: 0.0px;padding: 8.0px">2x</div>
        <div class="android-TextView" style="background-color: var(--color-colorAccent);margin: 4.0px;flex-grow: 3.0;flex-shrink: 3.0;flex-basis: 0;width: 0.0px;padding: 8.0px">3x</div>
      </div>
      <div class="android-TextView" style="background-color: #ff8080ff;margin: 8.0px;padding: 16.0px">View One</div>
      <div class="android-TextView" style="background-color: #ff8080ff;margin: 8.0px;padding: 16.0px">View Two</div>
      <div class="android-TextView" style="background-color: #ff8080ff;margin: 8.0px;padding: 16.0px">View Three</div>
      <div class="android-TextView" style="background-color: #ff8080ff;margin: 8.0px;padding: 16.0px">View Four</div>
      <input class="android-EditText" type="text"/>
      <div class="android-TextView" style="margin: 32.0px">This is some longer content that is used in an attempt to debug iOS&amp;amp;apos;s weirdness involving padding on LinearLayout.  Hopefully it works soon.</div>
      <div class="android-TextView" style="padding: 32.0px">This is some longer content that is used in an attempt to debug iOS&amp;amp;apos;s weirdness involving padding on LinearLayout.  Hopefully it works soon.</div>
    </div>
  </div>
</div>
