<?xml version="1.0" encoding="UTF-8"?><div>
  <div class="android-LinearLayout" style="flex-direction: column;padding: 8.0px">
    <div class="android-TextView">Visible Test</div>
    <div class="android-TextView">Invisible Test</div>
    <div class="android-TextView">Gone Test</div>
    <div class="android-TextView" style="height: 200.0px;width: 200.0px">Rotated Test</div>
    <div class="android-TextView" style="min-height: 100.0px">MinHeight Test</div>
    <div class="android-TextView" style="min-width: 200.0px">Min Width Test</div>
  </div>
</div>
