<?xml version="1.0" encoding="UTF-8"?><div>
  <div class="android-LinearLayout" style="flex-direction: column;padding: 8.0px">
    <button class="android-Button" style="padding: 8.0px;margin: 8.0px">Submit</button>
    <button class="drawable-~name~ android-Button" style="margin: 8.0px;padding: 8.0px;color: #10769cff">Submit</button>
    <button class="android-Button" style="padding: 8.0px;margin: 8.0px">I have dark text</button>
    <button class="android-Button" style="font-size: 18.0pt;text-transform: uppercase;color: #ae6a21ff;padding: 8.0px;margin: 8.0px">Some multiline&amp;amp;#xA;text for testing&amp;amp;#xA;with &amp;amp;lt;cursed&amp;amp;gt;&amp;#x9;parts</button>
    <button class="container drawable-~name~ android-ImageButton" style="height: 64.0px;margin: 8.0px;width: 64.0px;padding: 8.0px">
      <img src="../images/ic_android_black_24dp"/>
    </button>
    <select class="android-Spinner" style="padding: 8.0px;margin: 8.0px">Submit</select>
  </div>
</div>
