<div>
  <div class="android-LinearLayout" style="flex-direction: column;padding: 8.0px">
    <input class="id-seek android-SeekBar" max="100" min="1" style="align-self: stretch" type="range" value="50"><input class="id-bar1 android-RatingBar" max="5" min="1" style="align-self: stretch" type="range" value="4"><input class="id-bar2 android-RatingBar" max="5" min="1" style="align-self: stretch" type="range" value="4"><input class="id-bar3 android-RatingBar" max="5" min="1" style="align-self: stretch" type="range" value="4">
  </div>
</div>
